 {% load staticfiles %}
<html>
{% block head%}
<head>
 
 <script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

 <!-- Optional theme -->

 <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
 <!-- Latest compiled and minified JavaScript -->
 <script src="{% static "js/bootstrap.min.js" %}"></script>
</head>
{% endblock %}
{% block content %}
<body>
</body>
{% endblock %}
<footer>
  <div style="text-align:center;">
    <p> Disclamer : This website contain live scams/fishing/exploits, download the files at your own risks.</p>
  </div>
</footer>
</html>
