{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="jumbotron specialjum">
      <div class="container">
          <div class="row">
          <div class="col-md-6">
      <h1>Welcome to JSTotal !</h1>
        <p>Your ressource for client side infection</p>
          <p><a href ="https://www.botnets.fr/index.php/Accueil" class="btn btn-primary btn-lg" role="button">Learn more</a></p>
       </div>
       <div style="text-align:right;" class="col-md-6">
           
          <img  width="50%" src="{% static "img/HTML5_Badge.svg" %}">
       </div>
       </div>
       </div>
  </div>
  <div class="container">
<div class="row">
<div class="col-md-6">
  {{Form.errors}}
  <form method="POST" action="/" enctype="multipart/form-data">{% csrf_token %}
      <div role="form">

          <div class="form-group">
                  <label for="exampleInputFile">File input</label>
      {{ Form.threatfile }}
                   <p class="help-block">Upload your file here.</p>
           </div>

      {{ Form.filetype }}
      <br>
      <br>
      <input class="btn btn-default" type="submit" value="Upload">
      </div>
  </form>
  </div>
  <div class="col-md-6">
      <table class="table">
          <thead>
          {% for entry in latest %}
          <tr>
              <td>
                  {{ entry }} <a href = "/file/{{ entry.sha256 }}">Download</a>
              </td>
          </tr>
          {% endfor %}
      </table>

  </div>
</div>
</div>
{% endblock %}
